* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 60px 100px;
}

.container {
}

.header-container {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.links-container {
  display: flex;
  gap: 40px;
}

li {
  /* margin-right: 40px; */
}

@media (max-width: 768px) {
  .nav-container {
    background-color: blueviolet;
  }
  .header-container {
    flex-direction: column;
    background-color: red;
  }
}
